**Basics of R Programming**

Let us learn basic building blocks of the R programming language.

In most comman way R can be though as an interactive calculator.

Try executing following code block

In [ ]:
#Code cell
5*7+9

[1] 44

In [ ]:
typeof(12)

[1] "double"

 **Store computed value in a variable**

 The way you assign a value to a variable in R is by using the assignment operator, which is just a 'less than'symbol followed by a 'minus' sign. It looks like this: <-

In [ ]:
#Store result of 5+7 in varible c
c<-5+66.56
c
r<-"abc"
r

[1] 71.56

[1] "abc"

In [ ]:
typeof(c)
typeof(r)

[1] "double"

[1] "character"

We can further use variable c in another exrpession to create variable b which is 1 excess that one fourth of value of c

In [ ]:
b<-c/7
b 
d<-c/4+1
d

[1] 10.22286

[1] 18.89

In [ ]:
typeof(b)
typeof(d)

[1] "double"

[1] "double"

**Creation of Vector**

The easiest way to create a vector is with the c() function, which stands for 'concatenate' or 'combine'. 

 To create a vector containing the numbers 1.1, 9, and 3.14, type c(1.1, 9, 3.14). Try it now and store the result in a variable called z in following code block.

In [ ]:
z <- c(1.1, 9, 'dhg')
z
z1 <- c(1.1, 9, 5,45.54)
z1

[1] "1.1" "9"   "dhg"

[1]  1.10  9.00  5.00 45.54

In [ ]:
typeof(z)
typeof(z1)
class(z)
class(z1)

[1] "character"

[1] "double"

[1] "character"

[1] "numeric"

In [ ]:
z1

[1]  1.10  9.00  5.00 45.54

In [ ]:
#Get Documentation about concatinate
?c
#help(c)

You can combine vectors to make a new vector. 

Create a new vector that contains z, 555, then z again in that order. Don't assign this vector to a new variable, so that we can just see the result immediately.

In [ ]:
d <-c(z,555,z,78)
d
length(d)

[1]   3   6   5 555   3   6   5  78

[1] 8

In [ ]:
z<-c(3,6,5)
z

[1] 3 6 5

**Using Vector in Expression**

compute z^2 + 3 and check output

In [ ]:
z
z^2+3

[1] 3 6 5

[1] 12 39 28

**Comman Arithmatic Operators in R**

+, -, /, *, ^ are comman operators and sqrt, abs are arithmatic functions in R

When given two vectors of the same length, R simply performs the specified arithmetic operation (`+`, `-`, `*` etc.) element-by-element. If the vectors are of different lengths, R 'recycles' the shorter vector until it is the same length as the longer vector.

When we do z * 2 + 100, z is a vector of length 3, but technically 2 and 100 are each vectors of length 1.

In [ ]:
y<-rep(5,10)
y
length(y)

 [1] 5 5 5 5 5 5 5 5 5 5

[1] 10

In [ ]:
# Does recycling explains output of following expression
c(1, 2, 3, 4) + c(0, 11)
c(1, 2, 3, 4) + c(0, 11, 0 ,11)
c(1, 2, 3, 4, 5) + c(2, 11)
c(1, 2, 3, 4, 5) + c(2, 11, 2, 11, 2)

[1]  1 13  3 15

[1]  1 13  3 15

Warning message in c(1, 2, 3, 4, 5) + c(2, 11):
“longer object length is not a multiple of shorter object length”

[1]  3 13  5 15  7

[1]  3 13  5 15  7

**How to access disk?**

In [ ]:
curdir<-getwd()
curdir

[1] "/content"

In [ ]:
ls()

[1] "b"      "c"      "curdir" "d"      "r"      "y"      "z"      "z1"

In [ ]:
#show you files in PWD
list.files()
#dir('.')

[1] "sample_data"

In [ ]:
list.dirs()

[1] "."                         "./.config"
[3] "./.config/configurations"  "./.config/logs"
[5] "./.config/logs/2021.02.24" "./sample_data"
[7] "./test"

In [ ]:
old_dir<-getwd()

In [ ]:
#creates a folder on ur device 
dir.create('test')

In [ ]:
list.dirs()

[1] "."                         "./.config"
[3] "./.config/configurations"  "./.config/logs"
[5] "./.config/logs/2021.02.24" "./sample_data"
[7] "./test"

In [ ]:
getwd()

[1] "/content"

In [ ]:
file.create('mytest.R')

[1] TRUE

In [ ]:
dir()

[1] "mytest.R"    "sample_data" "test"

In [ ]:
file.exists('/test/mytest.R')
file.exists('mytest.R')

[1] FALSE

[1] TRUE

In [ ]:
file.info('./myTest.R')

           size isdir mode mtime ctime atime uid gid uname grname
./myTest.R NA   NA    <NA> <NA>  <NA>  <NA>  NA  NA  NA    NA

In [ ]:
file.rename('mytest.R','mytest2.R')

[1] TRUE

In [ ]:
dir()

[1] "mytest2.R"   "sample_data" "test"

In [ ]:
file.copy('mytest2.R','mytest3.R')

[1] TRUE

In [ ]:
file.path('testdir2','testdir3')

[1] "testdir2/testdir3"

In [ ]:
 dir.create(file.path('testdir2','testdir3'),recursive = TRUE)

In [ ]:
dir()

[1] "dir1"        "mytest2.R"   "mytest3.R"   "sample_data" "test2"
[6] "testdir2"

In [ ]:
setwd('testdir2')

ERROR: ignored

In [ ]:
dir()
getwd()

[1] "testdir3"

[1] "/content/testdir2"

**Complete following tasks**

Write R Code:
 

1.    To create a directory named myworkplace in current working dirctory.
2.   Create a folders/directories **exp1 and exp2** in it.
3.   Navigate to **exp1** and create a file named **my_file.txt**. 
4.   Copy it to **my_file1.txt**
5.   List files and folders in PWD and also in '/contents' directory  
6.   Display only File access permisssion in the output for every file in **exp1** folder.

In [1]:
#create a directory named myworkplace in current working dirctory.
dir.create('myworkplace')

In [2]:
#validation
dir()

[1] "myworkplace" "sample_data"

In [3]:
#Create a folders/directories exp1 and exp2 inside it.
dir.create('./myworkplace/exp1')
dir.create('./myworkplace/exp2')

In [17]:
setwd('myworkplace')

In [6]:
list.dirs()

[1] "."      "./exp1" "./exp2"

In [18]:
setwd('exp1')

In [8]:
file.create('my_file.txt')

[1] TRUE

In [9]:
file.info('my_file.txt')

            size isdir mode mtime               ctime
my_file.txt 0    FALSE 644  2021-03-06 10:23:35 2021-03-06 10:23:35
            atime               uid gid uname grname
my_file.txt 2021-03-06 10:23:35 0   0   root  root

In [10]:
file.copy('my_file.txt','my_file1.txt')

[1] TRUE

In [19]:
getwd()

[1] "/content/myworkplace/exp1"

In [21]:
list.files()

[1] "my_file.txt"  "my_file1.txt"

In [22]:
setwd('/content')

In [23]:
list.dirs()

[1] "."                         "./.config"
[3] "./.config/configurations"  "./.config/logs"
[5] "./.config/logs/2021.03.01" "./myworkplace"
[7] "./myworkplace/exp1"        "./myworkplace/exp2"
[9] "./sample_data"

In [24]:
dir()

[1] "myworkplace" "sample_data"

In [36]:
setwd('./myworkplace/exp1')

In [37]:
print(file.access('my_file.txt'))

my_file.txt
          0

In [38]:
file.access('my_file1.txt')

my_file1.txt
           0